:root {
  --fg: oklch(92.8% 0.006 264.531);
  --bg: oklch(21% 0.034 264.665);
  --board-bg: oklch(27.8% 0.033 256.848);
}

body {
  color: var(--fg);
  background: var(--bg);
}

#board {
  background-color: var(--board-bg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 16px 10px;
  width: 400px;
  height: 400px;
}

.piece {
  width: 70px;
  height: 70px;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.piece.is-light {
  background-color: oklch(71.2% 0.194 13.428);
}

.piece.is-dark {
  background-color: oklch(70.2% 0.183 293.541);
}

.piece.is-circle {
  border-radius: 50%;
}

.piece.is-square {
  border-radius: 8px;
}

.piece.is-short {
  transform: translateY(4px);
}

.piece.is-short.is-light {
  box-shadow: 0 4px 0 oklch(45.5% 0.188 13.697);
}

.piece.is-short.is-dark {
  box-shadow: 0 4px 0 oklch(43.2% 0.232 292.759);
}

.piece.is-tall {
  transform: translateY(-4px);
}

.piece.is-tall.is-light {
  box-shadow: 0 12px 0 oklch(45.5% 0.188 13.697);
}

.piece.is-tall.is-dark {
  box-shadow: 0 12px 0 oklch(43.2% 0.232 292.759);
}

.piece:hover {
  filter: brightness(1.1);
}

.piece.is-hollow::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;

  background-color: var(--board-bg);

  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);

  border-radius: inherit;
}